/* Reset */
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: unset;
}
html{
  scroll-behavior: smooth;
  background-color: $color-white;
}

a{
  text-decoration: none;
  color: unset;
}

ul{
  list-style: none;
}

body {
  font-family: $font-family-main, Helvetica, Arial, sans-serif;
  font-weight: 400;
}